<!doctype html>
<html lang="zh-TW" data-theme="dark">
  <head>
    {% include head.html %}
  </head>
<body>
  <header>
    <h1>{{ site.title }}</h1>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
  	<li><a href="/about">About</a></li>
  	<li><a href="/contact">Contact</a></li>
	<li><button id="dark-mode-toggle" class="small">Toggle Dark Mode</button></li>
     </ul>
  </header>
  <main class="container">
    {{ content }}
  </main>
  <footer>
    <p>&copy; {{ site.time | date: '%Y' }} {{ site.title }}</p>
  </footer>
  <script src="{{ '/assets/js/main.js' | relative_url }}"></script>
</body>
</html>

